---
layout: page
title: Rakesh Sharma
subtitle: Prospective Graduate Student
use-site-title: true
bigimg:
  - "/img/big-img/rakesh-1.jpeg" : "36th annual seminar and 20th Dr Triguna memorial Lecture, 2019, New Delhi"
  - "/img/big-img/rakesh-2.jpeg" : "36th annual seminar and 20th Dr Triguna memorial Lecture, 2019, New Delhi"
  - "/img/big-img/rakesh-3.png" : "Funding raise - Comofi Medtech, 2021, Bangalore"
  - "/img/big-img/rakesh-5.jpg" : "2023, Panchakot, Nepal"
---

<p>I am an engineer with research interests in biomedical signal processing including image reconstruction, image analysis, and applications of AI in diagnostics and therapeutics. I conducted research during my undergrad and master's dissertation, and have continued to follow my passion for innovation in industry. </p>
<p>Over last 3 years as a data scientist at Eli Lilly, I have had the opportunity to witness Lilly become the most valued pharmaceutical company around the world. I played my part by bringing in data science capabilities in the Delivery, Devices and Connected Solutions team. I have been extremely fortunate to get involved in multiple innovation projects including a few collaborations with Purdue.</p>
<p>I started my industrial journey in 2013 by developing android applications for disease diagnosis using mobile camera. Around 2015, I moved to a start-up and helped optimize their microfluidics-based immunoassay platforms for hormone detection. Learning a great deal from this experience, I co-founded a surgical robotics startup to assist surgeons perform accurate initial puncture for laproscopy. This was truly an exceptional (maybe even overwhelming at times!) experience and I have grown a great deal during this phase of life. It was absolutely amazing to don multiple hats and gain various skills required to solve technical challenges and build marketable solutions at the same time.</p>
<p>There is still a lot to learn. Hence, to be a better researcher, to learn from the pioneers in the field, and to contribute to the state-of-the-art research in biomedical engineering, I plan to pursue my graduate studies.</p>

<div class="posts-list">
  {% for post in paginator.posts %}
  <article class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
	  <h2 class="post-title">{{ post.title }}</h2>

	  {% if post.subtitle %}
	  <h3 class="post-subtitle">
	    {{ post.subtitle }}
	  </h3>
	  {% endif %}
    </a>

    <p class="post-meta">
      Posted on {{ post.date | date: "%B %-d, %Y" }}
    </p>

    <div class="post-entry-container">
      {% if post.image %}
      <div class="post-image">
        <a href="{{ post.url | prepend: site.baseurl }}">
          <img src="{{ post.image }}">
        </a>
      </div>
      {% endif %}
      <div class="post-entry">
        {{ post.excerpt | strip_html | xml_escape | truncatewords: site.excerpt_length }}
        {% assign excerpt_word_count = post.excerpt | number_of_words %}
        {% if post.content != post.excerpt or excerpt_word_count > site.excerpt_length %}
          <a href="{{ post.url | prepend: site.baseurl }}" class="post-read-more">[Read&nbsp;More]</a>
        {% endif %}
      </div>
    </div>

    {% if post.tags.size > 0 %}
    <div class="blog-tags">
       Tags:
       {% if site.link-tags %}
       {% for tag in post.tags %}
       <a href="{{ site.baseurl }}/tag/{{ tag }}">{{ tag }}</a>
       {% endfor %}
       {% else %}
         {{ post.tags | join: ", " }}
       {% endif %}
     </div>
    {% endif %}

   </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
   {% if paginator.previous_page %}
   <li class="previous">
     <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
   </li>
   {% endif %}
   {% if paginator.next_page %}
   <li class="next">
     <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
   </li>
   {% endif %}
 </ul>
{% endif %}
